@page "/counter"


<h1>Peliculas</h1>

<div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
  <div class="col">
    <div class="card h-100" style="width: 18rem;">
      <img src="\images\badboys.jfif" class="card-img-top" alt="..." width="20" height="200">
      <div class="card-body">
        <h5 class="card-title">@movie1</h5>
        <p class="card-text">@sipnosis_movie1</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="width: 18rem;">
      <img src="\images\ralpheldemoledor.jpg" class="card-img-top" alt="..." width="20" height="200">
      <div class="card-body">
        <h5 class="card-title">@movie2</h5>
        <p class="card-text"> @sipnosis_movie2</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="width: 18rem;">
      <img src="\images\conjuro.jpg" class="card-img-top" alt="..." width="20" height="200">
      <div class="card-body">
        <h5 class="card-title">@movie3</h5>
        <p class="card-text">@sipnosis_movie3</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
<div class="mb-3">
    <input class="form-control form-control-sm" type="text" placeholder="Pelicula">
</div>

<div class="mb-3">
    <input class="form-control form-control-sm" type="text" placeholder="Genero">
</div>

<div class="mb-3">
    <input type="file" name="" id="" class="form-control">
</div>

<div>
    <label class="form-label">Pelicula 1 @functionArrowsClass.function_convert_mayusc(movie1)</label>
    <br>
    <label class="form-label">Pelicula 2 @functionArrowsClass.function_convert_minusc(movie2)</label>
</div>

@code {
    public string movie1= "Bad Boys Para Siempre";
    public string movie2= "Ralph El Demoledor";
    public string movie3= "El Conjuro";

    public string sipnosis_movie1="Sipnosis Bad Boys Para Siempre ";
    public string sipnosis_movie2="Sipnosis Ralph El Demoledor";
    public string sipnosis_movie3="Sipnosis El Conjuro";


 
}



